<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>LSApplicationCategoryType</key>
		<string>public.app-category.shopping</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>NSCameraUsageDescription</key>
		<string>Die App benötigt Zugriff auf die Kamera, um Kassenbons zu fotografieren und die Einkäufe automatisch zu erkennen. Dies spart Ihnen Zeit bei der Eingabe von Produkten und Preisen.</string>
	</dict>
</plist>
